
body {
  font-family: 'Raleway', 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
  margin: 0; padding: 0;
  background: #dedede;
}

#main { width: 800px; margin: 28px auto; background: #efefef; padding: 0;} 

h1, p {
  color: #333;
}

#sample_container_id {
  width: 100%;
  height: 400px;
  position: relative;
  border: 1px solid #ccc;
  background-color: #fff;
}

#sample_text_id {
  font-size: 24pt;
  text-align: center;
  margin-top: 140px;
  -webkit-user-select: none;
  user-select: none;
}


/* N A V I G A T I O N */

.navigation { 
  height: 60px; width: 100%; border-bottom: 2px solid #282C33;
  background-color: white; color: #898999; overflow: hidden; }

.nav_width {
  width:800px; margin:0 auto; }

.navigation ul {
  margin: 0; padding: 0; list-style-type: none; }

.navigation ul li {
  float: left; margin-left: 2px; margin-top: 5px;
  width: 70px; padding: 20px; font-size: 21px; }

.navigation .logo { 
  float: left; margin-top: 12px; }

.navigation .infinity { color: #282C33; text-transform: uppercase; font-size: 28px; width: 300px; }
.navigation li:hover  { color: #585C93; }
